<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/style.css')}}">
    <title>Document</title>
</head>

<body>
    <div class="table-wrapper"></div>
    <div class="processed"></div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        //Do table load and after set interval for 2sec
        $( ".table-wrapper" ).load("http://192.168.99.100/table");
        setInterval(function() {
            $( ".table-wrapper" ).load("http://192.168.99.100/table");
        }, 2000); 
    });
    
    $(document).on("click", ".clickable", function(event) {
            console.log($(this).find("td:eq(3)").text())
            $(".processed").load("http://192.168.99.100/proc", {
                tweet: $(this).find("td:eq(3)").text()
            },
            function(responseTxt, statusTxt, xhr){
                alert($(".processed #symbol_count").text() + "\n" + $(".processed #word_count").text());
            });
        });
</script>


</html>